extends layout
block head
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  style.

block content
  .container
    h4.mt-2 ПМЭФ 2023 сессии Сбера - куда отдавать сигнал
    .transWr
      each tr in translations
        .transItem(id="tr"+tr.id trid=tr.id status=tr.status)
          .transItemTitleWr
            input.transDate(value=tr.date name="date" readonly)
            input.transTitle(value=tr.title name="title" readonly)

          .transItemStatusW.mt-2
            .mt-2
              label русский
              input.transTitle(value="rtmp://wowza01.onevent.online/live/"+tr.id+"en" readonly)
            .mt-2
              label английский
              input.transTitle(value="rtmp://wowza01.onevent.online/live/"+tr.id+"en" readonly)

  script.


