
.fullScreenBox
    .fullScreenBoxClose закрыть
    .fullScreenBoxPlayer
        .videoWr
            video#fullScreenVideo(controls width="1280" height="720")
        .videoCutButtons
            .videoCutButton#markInBtn IN:
                #markIn 00:00:00
            .videoCutButton#markOutBtn OUT:
                #markOut 99:99:99
            .videoCutButton#btnCut CUT IT!

    .fullScreenFileWr
            each file in files
                .fullScreenFileItem(file=file.filename fileid=file.id)
                    .fullScreenBtn.fullScreenPlayBtn PLAY
                    div !{file.filename}

                    .fullScreenBtn.fullScreenSetBtn Set as record
