
.fullScreenBox
    .fullScreenBoxClose закрыть
    .fullScreenBoxPlayer
        .videoWr
            video#fullScreenVideo(controls width="1280" height="720" src="https://static.sber.link/aij2022streams/spief2023/"+file)

