
.fullScreenBox
    .fullScreenBoxClose закрыть
    .fullScreenBoxPlayer
        .videoWr
            video#fullScreenVideo(controls width="1280" height="720")
    .fullScreenFileWr
            each file in files
                .fullScreenFileItem(file=file.filename fileid=file.id)
                    .fullScreenBtn Set as record
                    div !{file.filename}
                    .fullScreenBtn.fullScreenPlayBtn play
