
.fullScreenBox
    .fullScreenBoxClose закрыть
    .fullScreenBoxPlayer
        .videoWr
            video(controls width="1280" height="720")
        .fullScreenFileWr
            each file in files
                .fullScreenFileItem
                    .fullScreenBtn Set as record
                    .fullScreenBtn !{file.filename}
                    .fullScreenBtn play
