script(src="/spief2023/javascripts/video.min.js")
video#player.video-js.vjs-big-play-centered.vjs-show-big-play-button-on-pause(controls playsinline allowfullscreen width="1920" height="720" src=tr.video_en poster=tr.poster_en)
script.

