video#player.video-js(controls playsinline allowfullscreen width="1920" height="720" src=tr.video poster=tr.poster)
script.
    let player=videojs('player', {
        controls: true,
        autoplay: false,
        preload: 'auto'
    });
