body {
  padding: 0px;
  margin: 0px;
}

.transWr{
  padding: 64px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 24px;
}
.adminTransWr{
  padding: 64px;
  display: block;
  grid-template-columns: 1fr 1fr;
  grid-gap: 24px;
}
.transItem{
  border: 1px solid gray;
  border-radius: 8px;
  padding: 8px;
  background: #eeeeee;
}
.adminTransWr .transItem{
  background: #FFFFFF;
  margin-bottom: 24px;
}
.transItemLang{
  padding: 8px;
  background: #eeeeee;
}
.transDate{
  width:150px;
  box-sizing: border-box;
  padding: 4px 8px;
  border: 1px solid black;
}
.transTitle{
  width:calc(100% - 150px);
  box-sizing: border-box;
  padding: 4px 8px;
}
.transItemStatus{
  width:150px;
  box-sizing: border-box;
  padding: 4px 8px;
  border: 1px solid black;
}
.transUrl{
  width:100%;
  display: block;
  box-sizing: border-box;
  padding: 4px 8px;
  border: 1px solid black;
}
.videoWr{
  width: 100%;
  height: 0;
  position: relative;
  padding-bottom: 56.25%;
  overflow: hidden;
}
.videoWr .placeholder, .videoWr .imgWr, .videoWr #player, .videoWr iframe{
  position: absolute;top:0;left: 0;width: 100%;height: 100%;
}
.placeholder{
  display: flex;
  align-items: center;
  justify-content: center;
}
.placeholder svg{
  width: 100%;
  height: auto;
  max-width: 150px;
}
.imgWr img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}
.adminCol{
  display: flex;
  align-items: flex-start;
  justify-content: left;
}
.adminIframe{
  width: calc(100% - 150px);
  box-sizing: border-box;
  padding:0 8px;
}
.iframeCode{
  padding: 8px;
  border: 1px solid gray;
  display: block;
  width: 100%;
  box-sizing: border-box;
  height: 8em;
  font-size: 0.8em;
}
textarea.transUrl{
  font-size: 12px;
  height: 7em;
}
.full{
  width: 100%;
  display: block;
}
.transId{
  font-weight: bold;
  background: #eaea86;
  width: max-content;
  padding: 4px;
}
.recWr{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 24px;
}
.fullScreen{
  position: fixed;
  top:0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #00000088;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fullScreenBox{
  background: white;
  padding: 24px;
  border-radius: 12px;
  height: 80vh;
  overflow-y: auto;
  position: relative;
  width: 600px;
}
.fullScreenBoxClose{
  cursor: pointer;
  position: absolute;
  right: 12px;
  top: 12px;
  font-size: 10px;
  padding: 8px 4px;
  z-index: 100;
}
.fullScreenBtn{
  padding: 4px 2px;
  background: green;
  color: white;
  cursor: pointer;
  font-size: 12px;
}
.fullScreenFileItem{
  display: grid;
  margin-bottom: 8px;
  grid-template-columns: 88px 1fr 50px;
  grid-gap: 8px;
}

@media all and (max-width:980px)  {
  .transWr{
    padding: 12px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 8px;
  }
  .adminCol{
    display: block;
  }
  .adminIframe{
    width: 100%;
  }
}

