body {
  padding: 0px;
  margin: 0px;
}

.transWr{
  padding: 64px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 24px;
}
.transItem{
  border: 1px solid gray;
  border-radius: 8px;
  padding: 8px;
}
.transDate{
  width:150px;
  box-sizing: border-box;
  padding: 4px 8px;
  border: 1px solid black;
}
.transTitle{
  width:calc(100% - 150px);
  box-sizing: border-box;
  padding: 4px 8px;
}
.transItemStatus{
  width:150px;
  box-sizing: border-box;
  padding: 4px 8px;
  border: 1px solid black;
}
.transUrl{
  width:100%;
  display: block;
  box-sizing: border-box;
  padding: 4px 8px;
  border: 1px solid black;
}
.videoWr{
  width: 100%;
  height: 0;
  position: relative;
  padding-bottom: 56.25%;
  overflow: hidden;
}
.videoWr .placeholder, .videoWr .imgWr, .videoWr #player, .videoWr iframe{
  position: absolute;top:0;left: 0;width: 100%;height: 100%;
}
.placeholder{
  display: flex;
  align-items: center;
  justify-content: center;
}
.placeholder svg{
  width: 100%;
  height: auto;
  max-width: 150px;
}
.imgWr img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}
.adminCol{
  display: flex;
  align-items: flex-start;
  justify-content: left;
}
.adminIframe{
  width: calc(100% - 150px);
  box-sizing: border-box;
  padding:0 8px;
}
.iframeCode{
  padding: 8px;
  border: 1px solid gray;
  display: block;
  width: 100%;
  box-sizing: border-box;
  height: 8em;
  font-size: 0.8em;
}
@media all and (max-width:980px)  {
  .transWr{
    padding: 12px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 8px;
  }
  .adminCol{
    display: block;
  }
  .adminIframe{
    width: 100%;
  }
}

